<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myVue2</title>
  <style>
    img {
      width: 200px;
      height: 200px;
    }
    .red {
      color: red;
    }
    .bold {
      font-weight: bold;
    }
    .blue {
      color: blue;
    }
  </style>
</head>
<body>
  <div id="app">
    <div>{{content}}123{{description}}</div>
    <div>{{description}}</div>
    <input type="text" v-model="value" placeholder="请输入...">
    <span>{{value}}</span>
    <ul>
      <li v-for="(item,index) in list" :key="index">
        <span>姓名：{{item.name}}</span>
        <span>年龄：{{item.age}}</span>
      </li>
      <!-- <li v-for="(item,index) in list" :key="index">
        <span>姓名：{{item.name}}</span>
        <span>年龄：{{item.age}}</span>
      </li> -->
    </ul>
    <img :src="imgUrl" alt="猫猫头像">
    <br>
    <span v-bind:class="{red: obj.x > 2, bold: obj.y < 2, blue}">这是一句话</span>
    <br>
    <button @click="handleClick">按钮</button>
  </div>
  <script type="module">
    import MyVue2 from './core/main.js';
    window.myVue2 = new MyVue2({
      el: 'app',
      data: {
        content: 'hello',
        description: 'star say hello',
        value: '内容',
        list: [
          { name: '张三', age: 18 },
          { name: '李四', age: 19 },
        ],
        imgUrl: './cat.jpg',
        obj: {
          x: 3,
          y: 1,
        },
        blue: 'blue'
      },
      created() {
        console.log('created success');
        this.list = [{name: 'lucy', age: 10}];
      },
      methods: {
        handleClick() {
          console.log('点击了按钮');
        }
      }
    });
  </script>
  
</body>
</html>